/*
 * Please see the included README.md file for license terms and conditions.
 */

/* Disable certain interactions on touch devices */
/* SOURCE: https://github.com/ftlabs/fastclick/blob/master/examples/input.html */
/* LICENSE: https://github.com/ftlabs/fastclick/blob/master/LICENSE */
body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    background: #fff;
    color: #164468;
    font-family: 'Roboto', sans-serif;
}

p{
    text-align: center;
    display: block;
    margin: auto;
    vertical-align:middle;
    top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

h1 {
    font-size: 36px;
    text-align: center;
}

.welcome {
    position: relative;
    top: 50px;
    text-align: center;
}

input[type=button] {
    margin-top: 50px;
    width: 175px;
    height: 50px;
    background: #8fd700;
    font-size: 24px;
    color: #404040;
    border: 1px solid #8fd700;
    border-radius: 3px;
}

.icons {
    margin: 0 auto;
    width: 250px;
}

.start-icon {
    margin: 0 auto;
    width: 115px;
    position: relative;
    top: 30px;
}


.carseat {
    margin-top: 50px;
}

.instructions {
    font-size: 16px;
    font-style: italic;
}

img {
    border: none;
    -webkit-transition: 1s;
}

.begin { 
    left: 0px; 
}

.end { 
    left: 500px; 
}


